// All the SCSS Variables goes here

// font 
$font-family                                    : 'Bai Jamjuree', sans-serif;

// heading 
$headings-font-weight                           : 700;
$display-font-weight                            : 700;

// button 
$btn-padding-y                                  : 0.8rem;
$btn-padding-x                                  : 1.5rem;
$btn-font-size                                  : 1.2rem;
$btn-font-weight                                : 500;