<div class="wrapper h-100 py-5 overflow-auto">
    <div class="home-container d-flex flex-column align-items-center">
        <section class="text-center py-5">
            <figure class="py-3">
                <img src="../../assets/images/logo.svg" alt="logo">
            </figure>
            <h1 class="py-3 display-5"> A history of everything you copy </h1>
            <p class="sub-title fs-4"> Clipboard allows to track and organize everything you copy. Instantly access your
                clipboard on all your devices. </p>
            <div class="d-flex justify-content-center gap-3">
                <button class="btn btn-primary rounded-pill text-white shadow"> Download for IOS </button>
                <button class="btn btn-secondary rounded-pill text-white shadow"> Download for Mac </button>
            </div>
        </section>
        <section class="py-5 text-center">
            <h1 class="py-3"> Keep track of your snippets </h1>
            <p class="sub-title fs-4"> Clipboard allows to track and organize everything you copy. Instantly access your
                clipboard on all your devices. </p>
        </section>
    </div>
    <div class="home-container">
        <div class="row m-0">
            <div class="col-6">
                <figure>
                    <img src="../../assets/images/image-computer.png" alt="computer"
                        style="transform: translateX(-50px);">
                </figure>
            </div>
            <div class="col-6">
                <div style="width: 500px;" class="py-5">
                    <div>
                        <h3> Quick Search </h3>
                        <p class="sub-title"> Clipboard allows to track and organize everything you copy. Instantly
                            access your
                            clipboard on all your devices. </p>
                    </div>
                    <div>
                        <h3> Quick Search </h3>
                        <p class="sub-title"> Clipboard allows to track and organize everything you copy. Instantly
                            access your
                            clipboard on all your devices. </p>
                    </div>
                    <div>
                        <h3> Quick Search </h3>
                        <p class="sub-title"> Clipboard allows to track and organize everything you copy. Instantly
                            access your
                            clipboard on all your devices. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-container d-flex align-items-center flex-column">
        <section class="text-center">
            <h1 class="py-3"> Access Clipboard anywhere  </h1>
            <p class="sub-title fs-5"> Whenther you're on the go, or at your computer, you can access all your Clipboard snippets in a few simple clicks </p>
        </section>
        <figure class="my-5">
            <img src="../../assets/images/image-devices.png" alt="">
        </figure>
    </div>
    <div class="home-container d-flex flex-column align-items-center">
        <section class="text-center">
            <h1 class="py-3"> Supercharge your workflow  </h1>
            <p class="sub-title fs-5"> We've got the tools to boost your productivity. </p>
        </section>
    </div>
</div>